include
target/
*.tgz
*.tar.gz
*.o
*.exe
*.d
*.log
.svn
\#*\#
*.sdf
*.suo
Debug
Release
bin/**
lib/**
**/Makefile
*jar
*pyc
*_pb2.py
VERSION.txt
config.h
config.status
Documents/html_gravity/**
cmake_build
install
build
.vscode
.vs
Cargo.lock