#!/bin/bash
export GRAVITY_HOME=${PWD}

export PROTOBUF_DIR=$GRAVITY_HOME/ThirdParty/protobuf-2.4.1
export PROTOBUF_INCLUDE_DIR=$PROTOBUF_DIR/src

export ZMQ_DIR=$GRAVITY_HOME/ThirdParty/zeromq-3.2.1
export ZMQ_INCLUDE_DIR=$ZMQ_DIR/include
export ZMQ_LIB_DIR=$ZMQ_DIR/src/.libs/

export JAVAPROTOBUF_DIR=$GRAVITY_HOME/ThirdParty/lib/protobuf-java-2.4.1.jar
export GUAVAJAR_DIR=$GRAVITY_HOME/ThirdParty/guava-13.0.1/guava-13.0.1.jar






